<launch>

    <!-- <arg name="arg_bagPath" default="/media/workstation/7457C_Lidar/VVR" />
    <arg name="arg_bagName" default="GT_2021-11-05-16-06-55.bag" />

    <param name="bagPath" type="string" value="$(arg arg_bagPath)" />
    <param name="bagName" type="string" value="$(arg arg_bagName)" /> -->

    <node pkg="lio_livox" type="ScanRegistration" name="ScanRegistration" output="screen">

        <param name="config_file" value="$(find lio_livox)/config/horizon_config.yaml"/>
    </node>

    <node pkg="lio_livox" type="PoseEstimation" name="PoseEstimation" output="screen">
        <!-- 0-Not Use IMU, 1-Use IMU remove Rotation Distort, 2-Tightly Coupled IMU -->
        <param name="IMU_Mode" type="int" value="2" />
        <param name="IMUTopic" type="string" value="/livox/imu_1HDDH3200103771" />
        <!-- Voxel Filter Size Use to Downsize Map Cloud -->
        <param name="filter_parameter_corner" type="double" value="0.2" />
        <param name="filter_parameter_surf" type="double" value="0.4" />
        <!-- Extrinsic Parameter between Lidar & IMU -->
        <rosparam param="Extrinsic_Tlb"> [1.0, 0.0, 0.0, -0.05512,
                                          0.0, 1.0, 0.0, -0.02226,
                                          0.0, 0.0, 1.0,  0.0297,
                                          0.0, 0.0, 0.0,  1.0]</rosparam>
    </node>

    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find lio_livox)/rviz_cfg/lio.rviz" />


    <!-- <node pkg="rosbag" type="play" name="rosbag_play" output="screen" args="$(arg arg_bagPath)/$(arg arg_bagName)" /> -->

    <!-- /media/workstation/7457C_Lidar/VVR/GT_2021-11-05-16-06-55.bag -->
    <!-- /media/workstation/7457C_Lidar/VVR/GT_2021-11-05-16-16-24.bag -->

    <!-- args="/media/workstation/7457C_Lidar/VVR/GT_2021-11-05-16-06-55.bag" -->
    <!-- /home/workstation/b00570232/bagdata/1109/GT_2021-11-09-13-56-05.bag -->
    <node pkg="rosbag" type="play" name="rosbag_play" output="screen" required="true" args="/media/workstation/7540C_Lidar/GT-Lidar-SAIC-AS32-7540C_2021-12-30-16-37-43.bag" />
</launch>

<!-- topics: /livox/imu_3JEDHB300100911     24321 msgs    : sensor_msgs/Imu           
             /livox/imu_3WEDH7600115321     24306 msgs    : sensor_msgs/Imu           
             /livox/imu_3WEDH7600115921     24255 msgs    : sensor_msgs/Imu           
             /livox/imu_3WEDH7600116091     24370 msgs    : sensor_msgs/Imu           
             /livox/imu_3WEDH7600116361     24319 msgs    : sensor_msgs/Imu           
             /livox/imu_3WEDH7600116461     24195 msgs    : sensor_msgs/Imu           
             /livox/lidar_3JEDHB300100911    1198 msgs    : livox_ros_driver/CustomMsg
             /livox/lidar_3WEDH7600115321    1198 msgs    : livox_ros_driver/CustomMsg
             /livox/lidar_3WEDH7600115921    1198 msgs    : livox_ros_driver/CustomMsg
             /livox/lidar_3WEDH7600116091    1198 msgs    : livox_ros_driver/CustomMsg
             /livox/lidar_3WEDH7600116361    1198 msgs    : livox_ros_driver/CustomMsg
             /livox/lidar_3WEDH7600116461    1198 msgs    : livox_ros_driver/CustomMsg -->
